resources/map_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="map">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cells">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="cell">
                <xs:complexType>
                  <xs:attribute name="row" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="col" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="start-point">
          <xs:complexType>
            <xs:attribute name="row" type="xs:unsignedByte" use="required" />
            <xs:attribute name="col" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="end-point">
          <xs:complexType>
            <xs:attribute name="row" type="xs:unsignedByte" use="required" />
            <xs:attribute name="col" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>